<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>University Of Eduction</h3>
          <p class="fst-italic">
            les élèves développent :
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> des compétences de pensée critique.</li>
            <li><i class="bi bi-check-circle"></i> des solides compétences de recherche et de communication écrite.</li>
            <li><i class="bi bi-check-circle"></i> des compétences de gestion du temps ainsi qu’un réel sens de la motivation personnelle .</li>
          </ul>
          <p>
            Le Programme du diplôme étant enseigné de par le monde entier, les institutions d’enseignement supérieur sont toujours soucieuses de la façon dont l’organisation assure la rigueur et la cohérence de ce programme destiné à les élèves.
          </p>

        </div>
      </div>

    </div>
  </section>
