 <!-- ======= Header ======= -->
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="assets/img/course-details.jpg" class="img-fluid" alt="">
            <h3>University Of Education</h3>
            <p>Le Programme du diplôme étant enseigné de par le monde entier, les institutions d’enseignement supérieur sont toujours soucieuses de la façon dont l’organisation assure la rigueur et la cohérence de ce programme destiné à les élèves.
                          </p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h4>Cycles</h4>
              <p><a href="#">Tarifs</a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Licence</h5>
              <p>6000 DT / An</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Master </h5>
              <p>7000 DT / An</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Ingenieur</h5>
              <p>8000 DT / An</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">---</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">licence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Master</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Ingénieur</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">..</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>DIPLOMES</h3>
                    <p class="fst-italic">diplôme national de l'enseignement supérieur qui se prépare en six semestres à l'université</p>
                    <p>deuxième diplôme universitaire d'Etat, obtenu au terme de deux années d'études, juste après le grade de la licence (Bac+3)</p>
                    <p>Le diplôme d'ingénieur valide un niveau bac+5</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>---</h3>
                    <p class="fst-italic">---</p>
                    <p>---</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>---</h3>
                    <p class="fst-italic">---</p>
                    <p>---</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>---</h3>
                    <p class="fst-italic">---</p>
                    <p>---</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>---</h3>
                    <p class="fst-italic">....</p>
                    <p>---</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Cource Details Tabs Section -->

  </main><!-- End #main -->
